<?xml version="1.0"?>

<launch>

	<!-- prefix for pdb: launch-prefix="xterm -e python -m pdb" -->
	<node pkg="object_pose_estimation" name="PolePoseNode" type="pole_pose.py" output="screen"/>

	<node pkg="geranos_visual_servoing" name="visual_servoing" type="geranos_visual_servoing" output="screen">
		<rosparam file="$(find geranos_visual_servoing)/resource/visual_servoing_params.yaml"/>
		<param name="capability_group" value="Planning" />
	</node>
	
	<node pkg="tf2_ros" type="static_transform_publisher" name="tf_imu_base" args="0.09 -0.1558846 0 0 0 0 1 base imu">
		<param name="capability_group" value="TF" />
	</node>

    <node pkg="tf2_ros" type="static_transform_publisher" name="tf_imu_cam" args="0.0474 0.4004 -0.3186 0.451912 -0.7950501 0.1994412 0.351986 imu cam">
    	<param name="capability_group" value="TF" />
  	</node>

</launch>